/*
  ____              _        
 | __ )   ___    __| | _   _ 
 |  _ \  / _ \  / _` || | | |
 | |_) || (_) || (_| || |_| |
 |____/  \___/  \__,_| \__, |
                       |___/ 

*/

body {
    margin: 0;
    padding: 0;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    background-color: #060521;
}

/*
  _   _                 ____                          
 | \ | |  __ _ __   __ | __ )   __ _  _ __  _ __  ___ 
 |  \| | / _` |\ \ / / |  _ \  / _` || '__|| '__|/ _ \
 | |\  || (_| | \ V /  | |_) || (_| || |   | |  |  __/
 |_| \_| \__,_|  \_/   |____/  \__,_||_|   |_|   \___|

*/

header {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 25;
    top: -25px;

    background-color: #060521;
    display: block;
}

header ul {
    width: 100%;
    padding-top: 50px;
    margin: -20px;

    font-size: 20px;
    background-color: #060521;
    display: block;
}

header li {
    position: absolute;
    width: 99%;
    top: 55px;

    color: #06052100;
    background-color: #06052100;
    display: block;
}

/* @media screen and (max-width: 499px) {

    .accueil a, .accueil_page a {
    
        position: relative;
        left: 40%;
        top: 200px;
    }

    .apropos a, .apropos_page a {

        position: relative;
        left: 40%;
        top: 300px;
    }

    .projet a, .projet_page a {
 
        position: relative;
        left: 40%;
        top: 400px;
    }

    .contact a, .contact_page a {

        position: relative;
        left: 40%;
        top: 500px;
    }

    .union_barre {
        display: block;    
    }
}*/

@media screen and (min-width: 500px) {
    .union_barre {
        display: none;
    }

    header {
        height: 100px;
    }

    .accueil a, .accueil_page a {
        position: absolute;
        left: 54.57%;
    }

    .apropos a, .apropos_page a {
        position: absolute;
        left: 77.54%;
    }

    .projet a, .projet_page a {
        position: absolute;
        left: 66.06%;
    }

    .contact a, .contact_page a {
        position: absolute;
        left: 89.03%;
    }
}

/* .union_barre {
    position: relative;
    top: 15px;
    float: right;
    width: 25px;
    height: 25px;
    padding-right: 50px;
    animation: animation_barre 1s forwards;
    animation: animation_barre_2 1s forwards;
} */

@keyframes animation_barre {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 90deg;
    }
}

@keyframes animation_barre_2 {
    from {
        rotate: 90deg;
    }

    to {
        rotate: 0deg;
    }
}

/* .union_barre_boutton {
    background-color: #00ffff00;
    border: #00ffff00 solid;
} */

.photo {
    left: 4%;
    top: 35px;
}

.accueil a {
    color: #FFFFFF;
    text-decoration: none;
    transition: color .2s;
}

.accueil:hover a {
    color: #8c0149;
}

.accueil_page a {
    text-decoration: none;
    color: #8c0149;
}

.apropos a {
    color: #ffffff;
    text-decoration: none;
    transition: color .2s;
}

.apropos:hover a {
    color: #b40623;
}

.apropos_page a {
    color: #b40623;
    text-decoration: none;
}

.projet a {
    color: #FFFFFF;
    text-decoration: none;
    transition: color .2s;
}

.projet:hover a {
    color: #b61334;
}

.projet_page a {
    color: #b61334;
    text-decoration: none;
}

.contact a {
    color: #FFFFFF;
    text-decoration: none;
    transition: color .2s;
}

.contact:hover a {
    color: #b6131b;
}

.contact_page a {
    color: #b6131b;
    text-decoration: none;
}

.ligne {
    width: 100%;
    height: 10px;
    position: absolute;
    top: 90px;
    z-index: 26;

    border-radius: 100px;
    background: linear-gradient(90deg, #441181 0%, #EE0B0B 100%);
}

/*
  ____                       _____  _  _              
 / ___|   ___   _   _  ___  |_   _|(_)| |_  _ __  ___ 
 \___ \  / _ \ | | | |/ __|   | |  | || __|| '__|/ _ \
  ___) || (_) || |_| |\__ \   | |  | || |_ | |  |  __/
 |____/  \___/  \__,_||___/   |_|  |_| \__||_|   \___|
                                                      
*/

.ligne_sous_titre {
    left: 0px;
    top: -50px;
    height: 1px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;

    background-color: #FFFFFF;
}

.ligne_sous_titre_contact {
    background-color: #FFFFFF;
    left: 0px;
    top: -12.5px;
    height: 1px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
}

.text_contact {
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    margin-top: 110px;

    color: #FFFFFF;
}

.achievements {
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 116px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.competence {
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 116px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

/*
   ____               _     _       
  / ___| ___    ___  | | __(_)  ___ 
 | |    / _ \  / _ \ | |/ /| | / _ \
 | |___| (_) || (_) ||   < | ||  __/
  \____|\___/  \___/ |_|\_\|_| \___|
                                    
*/

.cookie_fond {
    position: fixed;
    z-index: 19;
    width: 575px;
    height: 275px;
    top: 400px;
    left: 20px;
    background: linear-gradient(74.05deg, #441181 0%, #EE0B0B 100%);
    border-radius: 15px;
}

.cookie_image {
    height: 175px;
    position: relative;
}

.cookie_bouton {
    background-color: #59A12D;
    border-radius: 7.5px;
    color: #ffffff;
    border-color: #59A12D00;
}

.cookie_lien {
    color: #A0A0A0;
}

.cookie_text {
    color: #FFFFFF;
}

.cookie_table {
    margin-top: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

/*
   ____                            _         _      _   
  / ___| ___   _ __   _   _  _ __ (_)  __ _ | |__  | |_ 
 | |    / _ \ | '_ \ | | | || '__|| | / _` || '_ \ | __|
 | |___| (_) || |_) || |_| || |   | || (_| || | | || |_ 
  \____|\___/ | .__/  \__, ||_|   |_| \__, ||_| |_| \__|
              |_|     |___/           |___/        
     
*/

footer {
    float: inline-end;
    display: block;
    margin-top: 100px;
}

.copyright_ligne {
    background-color: #ffffff;
    width: 100%;
    height: 5px;
}

.copyright_fond {
    background: linear-gradient(90deg, #441181 0%, #EE0B0B 50%, #441181 100%);
    background-position: 50%;
    width: 100%;
    height: 75px;
    margin-top: -16px;
    /* animation: 5s couleur linear infinite; */
}

@keyframes couleur {
    from {
        background: linear-gradient(90deg, #441181 100%, #EE0B0B 0%);
    }

    to {
        background: linear-gradient(90deg, #441181 100%, #EE0B0B 0%);
    }
}

.copyright_image {
    position: relative;
    bottom: 30%;
    right: -80%;
}

.copyright_text {
    bottom: -30%;
    left: 2.5%;
    width: 25%;
    position: relative;
    color: #ffffff;
}

.copyright_image_2 {
    opacity: 0.75;
    transition: all .75s;
}

.copyright_image_2:hover {
    opacity: 2;
}

/*
   ____                                _                          
  / ___| ___   _ __ ___   _ __    ___ | |_  ___  _ __    ___  ___ 
 | |    / _ \ | '_ ` _ \ | '_ \  / _ \| __|/ _ \| '_ \  / __|/ _ \
 | |___| (_) || | | | | || |_) ||  __/| |_|  __/| | | || (__|  __/
  \____|\___/ |_| |_| |_|| .__/  \___| \__|\___||_| |_| \___|\___|
                         |_|                      

*/

.rectangle5 {
    background: #D9D9D9;
    width: 80%;
    height: 500px;
    border-radius: 50px;
    margin: auto;
}

.ligne_rectangle5 {
    background-color: #000000;
    height: 480px;
    width: 2px;
    border-radius: 15px;
    position: relative;
    left: 479px;
    top: 23px;
}

td {
    border: #00000000 solid 3px;
}

/* rond principal type */

.rond_principal_css {
    background-color: #379AD6;
    border-radius: 100%;
    height: 250px;
    width: 250px;
}

.rond_principal_html {
    background-color: #E44D26;
    border-radius: 100%;
    height: 250px;
    width: 250px;
}

.rond_principal_cpp {
    background-color: #000000;
    border-radius: 100%;
    height: 250px;
    width: 250px;
}

.rond_principal_mysql {
    background-color: #25557B;
    border-radius: 100%;
    height: 250px;
    width: 250px;
}

.rond_principal_php {
    background-color: #4F5B93;
    border-radius: 100%;
    height: 250px;
    width: 250px;
}

.rond_principal_ordinateur {
    background-color: #5F0202;
    border-radius: 100%;
    height: 250px;
    width: 250px;
}

/* rond secondaire */

.rond_1 {
    background-color: #E44D26;
    border-radius: 100%;
    height: 125px;
    width: 125px;
}

.rond_2 {
    background-color: #379AD6;
    border-radius: 100%;
    height: 125px;
    width: 125px;
}

.rond_3 {
    background-color: #000000;
    border-radius: 100%;
    height: 125px;
    width: 125px;
}

.rond_4 {
    background-color: #5F0202;
    border-radius: 100%;
    height: 125px;
    width: 125px;
}

.rond_5 {
    background-color: #25557B;
    border-radius: 100%;
    height: 125px;
    width: 125px;
}

.rond_6 {
    background-color: #4F5B93;
    border-radius: 100%;
    height: 125px;
    width: 125px;
}

.accuiel_competence {
    position: relative;
    top: -435px;
    margin: auto;
}

.rond_principal_td {
    padding-top: -15px;
    padding-right: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
}

.rond_secondair_td {
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 15px;
}

.rond_text {
    text-align: center;
    font-size: 20px;
    color: #272727;
}

.text_principal_1 {
    position: relative;
    left: 85px;
    top: 275px;
    font-size: 30px;
    color: black;
}

.text_principal_2 {
    position: relative;
    left: 95px;
    top: 285px;
    font-size: 20px;
    color: #363636e3;
}

.bouton_1 {
    background-color: #00478676;
    height: 210px;
    width: 180px;
    top: 15px;
    right: 415px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
}

.bouton_2 {
    background-color: #00478676;
    height: 210px;
    width: 180px;
    top: 15px;
    right: 215px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
}

.bouton_3 {
    background-color: #00478676;
    height: 210px;
    width: 180px;
    top: 15px;
    right: 15px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
}

.bouton_4 {
    background-color: #00478676;
    height: 210px;
    width: 180px;
    top: 235px;
    right: 415px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
}

.bouton_5 {
    background-color: #00478676;
    height: 210px;
    width: 180px;
    top: 235px;
    right: 215px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
}

.bouton_6 {
    background-color: #00478676;
    height: 210px;
    width: 180px;
    top: 235px;
    right: 15px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
}

.img_rond_1 {
    top: 25px;
    left: 25px;
    position: relative;
}

.img_rond_2 {
    top: 25px;
    left: 25px;
    position: relative;
}

.img_rond_3 {
    top: 25px;
    left: 15px;
    position: relative;
}

.img_rond_4 {
    top: 25px;
    left: 17.5px;
    position: relative;
}

.img_rond_5 {
    top: 25px;
    left: 17.5px;
    position: relative;
}

.img_rond_6 {
    top: 35px;
    left: 12px;
    position: relative;
}

/*
  ____                     _  _   ____              _        
 / ___|   ___  _ __  ___  | || | | __ )   ___    __| | _   _ 
 \___ \  / __|| '__|/ _ \ | || | |  _ \  / _ \  / _` || | | |
  ___) || (__ | |  | (_) || || | | |_) || (_) || (_| || |_| |
 |____/  \___||_|   \___/ |_||_| |____/  \___/  \__,_| \__, |
                                                       |___/ 

*/

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(31, 31, 30, 70%);
    border: #565656;
    border-radius: 150px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(73, 1, 1);
    border-radius: 20px;
}

body::-webkit-resizer
{
    background-color: rgb(31, 31, 30, 0%);
}

body::-webkit-scrollbar-corner
{
    background-color: rgb(31, 31, 30, 0%);
}

/*
     _          _      _                                            _        
    / \    ___ | |__  (_)  ___ __   __ ___  _ __ ___    ___  _ __  | |_  ___ 
   / _ \  / __|| '_ \ | | / _ \\ \ / // _ \| '_ ` _ \  / _ \| '_ \ | __|/ __|
  / ___ \| (__ | | | || ||  __/ \ V /|  __/| | | | | ||  __/| | | || |_ \__ \
 /_/   \_\\___||_| |_||_| \___|  \_/  \___||_| |_| |_| \___||_| |_| \__||___/
                                                                             
*/

.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    top: -5px;
    position: absolute;
    left: 83px;
}

.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

.carre_scrollmenu {
    background-color: rgb(185, 185, 177);
    height: 320px;
    width: 240px;
    border-radius: 20px;
    position: relative;
    border: #000000 solid 2px;
    top: 40px;
    transition: all .9s;
}

.carre_scrollmenu:hover {
    top: 20px;
    background-color: rgb(124, 124, 124);
    box-shadow: #272727;
}

.fond_scrollmenu {
    position: relative;
    background-image: url("../image/fond.2.png");
    border: #000000 solid 3px;
    height: 475px;
    width: 125px;   /* 25 = 1 jour / 750 = 30 jour / 775 = 31 jour*/
}

/* scrollmenu */

.scrollmenu::-webkit-scrollbar {
    width: 15px;
}

.scrollmenu::-webkit-scrollbar-track {
    background-color: rgb(31, 31, 30, 70%);
    border: #777777 solid 1px;
}

.scrollmenu::-webkit-scrollbar-thumb {
    background-color: rgb(84 81 120);
    border: #777777 solid 1px;
}























.button_contact {
    background-color: #00000000;
    color: #ffffff;
    font-size: 30px;
    border: #FFFFFF solid 4px;
    border-radius: 50px;
    width: 275px;
    height: 70px;
    margin: 40px;
}

.button_contact:hover {
    color: #b6131b;
    border: #b6131b solid 4px;
}

.text_message_1_1 {
    color: #FFFFFF;
    font-size: 30px;
    text-align: left;
    width: 400px;
    height: 25px;
    padding-left: 50px;
    margin-bottom: 0px;
}

.text_message_1 {
    color: #FFFFFF;
    font-size: 30px;
    text-align: left;
    width: 400px;
    height: 25px;
    margin-bottom: 0px;
}

.text_message_2 {
    width: 400px;
    height: 75px;
}

.text_message_3 {
    height: 75px;
    color: #FFFFFF;
    font-size: 30px;
    text-align: left;
}

.text_message_3_1 {
    height: 25px;
    color: #FFFFFF;
    font-size: 30px;
    text-align: left;
}

.input_1 {
    background-color: #00000000;
    border-bottom: #ffffff solid 2px;
    border-top: #00000000;
    border-left: #00000000;
    border-right: #00000000;
    width: 400px;
    color: #ffffff;
    font-size: 20px;
    margin-right: 50px;
}

.input_2 {
    background-color: #00000000;
    border-bottom: #ffffff solid 2px;
    border-top: #00000000;
    border-left: #00000000;
    border-right: #00000000;
    width: 400px;
    color: #ffffff;
    font-size: 20px;
    margin-left: 50px;
}

.input_message:hover,
.input_message:focus,
.input_2:hover,
.input_1:hover,
.input_2:focus,
.input_1:focus {
    border-bottom: #1fab03 solid 2px;
    border-top: #00000000;
    border-left: #00000000;
    border-right: #00000000;
    background-color: #00000000;
    outline-width: 0;
}

.input_message {
    background-color: #00000000;
    border-bottom: #ffffff solid 2px;
    border-top: #00000000;
    border-left: #00000000;
    border-right: #00000000;
    width: 900px;
    color: #ffffff;
    font-size: 15px;
}

.image_contact_1 {
    padding: 15px;
    opacity: 0.80;
    transition: all .75s;
}

.image_contact_1:hover {
    padding: 15px;
    opacity: 2;
}

.carre_projet {
    width: 1150px;
    height: 400px;
    background: #D9D9D9;
    border-radius: 50px;
    margin-top: 60px;
}

.carre_projet:hover {
    width: 1150px;
    height: 400px;

    background: #D9D9D9;
    border-radius: 50px;
    margin-top: 60px;
}

.carre_projet_table {
    width: 1000px;
    height: 350px;
    padding-top: 42px;
    padding-bottom: 42px;
    padding-right: 25px;
    padding-left: 15px;
}

.carre_projet_td_1 {
    width: 675px;
}

.text_projet_1 {
    word-wrap: break-word;
    text-align: justify;
    word-break: break-all;
    text-overflow: ellipsis;
    font-size: 45px;
    padding: 0px;
    color: #000000;
    margin-top: 25px;
    margin-bottom: -20px;
    margin-left: 0px;
}

.text_projet_2 {
    word-wrap: break-word;
    text-align: justify;
    word-break: break-all;
    text-overflow: ellipsis;
}

.projet_image {
    padding-right: 60px;
    padding-top: 10px;
}

/* -----{ barre progression projet }----- */

.bar {
    height: 17px;
    width: 600px;
    border-radius: 15px;
    background-color: #050505;
}

.bar_inner {
    height: 100%;
    width: 5%;
    border-radius: 15px;
    background: linear-gradient(90deg, #441181 0%, #EE0B0B 100%);
    animation: 7.5s loading;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

@keyframes loading {
    from {
        width: 5%;
    }

    to {
        width: 75%;
        /* modifier pourcanatge */
    }
}

.bar_inner_text {
    color: #090909;
    top: -3px;
    position: relative;
    left: 7px;
    font-size: 13px;
    opacity: 0;
    animation: 1s text_progression;
    animation-delay: 8s;
    animation-fill-mode: forwards;
}

.bar_pourcentage {
    position: relative;
    left: 70%;
    /* modifier pourcantage (nombre - 5) */
    opacity: 0;
    animation: 1s text_progression;
    animation-delay: 12.5s;
    animation-fill-mode: forwards;
}

@keyframes text_progression {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}