<div id="stats">
    <div id="topStats">
        <div class="itemStats">
            <div class="titleStats">Character</div>
            <div class="valueStats" id="CharacterPosition">Position { x:855, y:87, z:780 }</div>
            <div class="valueStats" id="CharacterRotation">Rotation { x:855, y:87, z:780 }</div>
            <div class="valueStats" id="CharacterSpeed">Speed { x:0, y:0, z:-9.81 }</div>
        </div>
        <div class="itemStats">
            <div class="titleStats">Water</div>
            <div class="valueStats" id="WaterPosition">Position { x:855, y:87, z:780 }</div>
            <div class="valueStats" id="WaterRotation">Rotation { x:855, y:87, z:780 }</div>
            <div class="valueStats" id="WaterSpeed">Speed { x:0, y:0, z:-9.81 }</div>
        </div>
    </div>
    <div id="bottomStats">
        <canvas id="perlinNoise"></canvas>
        <div id="performance"></div>
        <div id="version">Version: 17.18.1</div>
    </div>
</div>