#phoneErrorPicture {
    background-color: red;
}

#phoneErrorTitle {
    background-color: green;
}

#phoneErrorText {
    background-color: yellow;
}

#phoneErrorButton {
    background-color: blue;
}