html {
    height: 100%;
    width: 100%;
}

body { 
    margin: 0; 
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

:root {
    --Background: #ffffff;
    --Color: #000000;
    --Element: #000000; 
    --ColorBulbDash: #000000;
}

canvas {
    height: 100% !important;
    width: 100% !important;
}

#Icon {
    position: absolute;
    height: 100%;
    bottom: 0;
    right: 0;
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    z-index: 100;
}
  
#Icon > a {
    width: 2.5vw;
    height: 2.5vw;
    margin: 0 10px;
    cursor: pointer;
}

/* #IconGithub:hover, #IconTwitter:hover, #IconInstagram:hover, #IconTikTok:hover {
    transform: scaleX(-1);
} */

#IconTwitterDiv {
    width: 2.5vw; 
    height: 2.5vw; 
    rotate: 15deg; 
    position: absolute;
    transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes TwitterToX {
    0% {
        transform: translate(0, 0);
    }
  
    100% {
        transform: translate(260px, -280px);
    }
}

@keyframes TwitterToX2 {
    0% {
        transform: translate(260px, -280px);
    }
  
    100% {
        transform: translate(-4000%, -600%);
    }
}

@keyframes TwitterToX3 {
    0% {
        transform: translate(0, 150%)
    }

    100% {
        transform: none
    }
}




#Bulb {
    width: 5%;
    right: 0;
    position: absolute;
    margin: 0 20px 0 0;
    top: -5vw;
    cursor: pointer;
    z-index: 200;
}

@keyframes BulbClicked {
    0% {
        top: -5vw;
    }

    50% {
        top: 0vw;
    }

    100% {
        top: -5vw;
    }
}