html {
    height: 100%;
    width: 100%;
}

body { 
    margin: 0; 
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;

    canvas {
        height: 100%;
        width: 100%;
    }
}


canvas {
    display: block !important;
}