#stats {
    display: none;
    flex-direction: column;
    justify-content: space-between;

    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 10px;
}

#bottomStats {
    display: flex;
    align-items: flex-end;

    #perlinNoise {
        background: #606060;
        border: #191919 solid 3.5px;

        height: 200px;
        width: 200px;
    }

    #performance {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        height: calc(80% - 20px);
    }

    > * {
        margin: 0 10px 20px 0;
    }
}

#topStats {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 65%;

    .itemStats {
        margin: 0 10px 20px 0;

        .titleStats {
            font-weight: bold;
        }
    }
}
