body {
    background-color: #00BFF3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.fusee {
    position: absolute;
    height: 225px;
    left: 45%;
    top: 76px;
}

svg {
    
}